.beforeafter_slider .swiper-button-next, .beforeafter_slider .swiper-button-prev
  width: 29px
  height: 31px
  background: none
  top: 57%

.beforeafter_slider .swiper-button-next .fa, .beforeafter_slider .swiper-button-prev .fa
  font-size: 31px
  color: #c9ae3c

.beforeafter_slider .swiper-button-next
  right: -6px 

.beforeafter_slider .swiper-button-prev
  left: 2px

.beforeafter_slider
  max-width: 600px
  margin: 0px auto  