// --------------------------------------------------------
// units
// --------------------------------------------------------
@import './sass/units/units'

// --------------------------------------------------------
// vendors
// --------------------------------------------------------
@import './sass/vendors/*.sass'

// --------------------------------------------------------
// utilities
// --------------------------------------------------------
// @import './shared/**/*.sass'
@import './styleguide/*.sass'

// --------------------------------------------------------
// pages
// --------------------------------------------------------
@import './pages/**/*.sass'
@import './pages/**/**/*.sass'

// --------------------------------------------------------
// components
// --------------------------------------------------------
@import './base/*.sass'
@import './components/**/*.sass'
@import './components/**/**/*.sass'
@import './components/**/**/**/*.sass'

// NOTE: No sass files in shared directory -- throws error when compiling

body
  font: normal normal 20px/36px 'Raleway', Helvetica, Arial, sans-serif
  background: #ffffff
  color: #333333
  letter-spacing: 0

.header
  position: fixed
  top: 0
  width: 100%
  z-index: 99
  background: #fff

.container_manual
  width: 100%
  max-width: 1000px
  margin: 0 auto
  position: relative
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box

.clearfix::after
  content: ""
  clear: both
  display: table

.top_bar
  background-position: top center
  height: 45px

.hd-right
  width: 75%
  float: right
  text-align: right

.util-nav
  position: relative
  top: 3px

.hd-locations, .util-nav
  display: inline-block

#content_left h1.blogsingletitle
  font-size: 35px 
  font-weight: 500 

.post_category a::after
  content: ','
  margin-right: 5px

.post_category a:last-child::after
  content: ' '
  margin-right: 0 

.post_category_outer
  margin-bottom: 10px       

.hd-right .hd-locations .hd-address
  display: inline-block
  text-decoration: none
  color: #ffffff
  font-size: 0.9em
  line-height: 1em
  text-transform: uppercase

.hd-right .hd-locations .phone
  display: inline-block
  text-decoration: none
  color: #ffffff
  font-size: 0.9em
  line-height: 1em
  margin-left: 4px

.hd-right .hd-locations a:hover, .hd-right .hd-locations .phone:hover
	color: #c9ae3c

a
  transition-duration: 0.5s
  -ms-transition-duration: 0.5s
  -webkit-transition-duration: 0.5s
  -moz-transition-duration: 0.5s
  -o-transition-duration: 0.5s
  text-decoration: none

.hd-right .appt-req
  display: inline-block
  padding: 0 7px
  height: 51px
  line-height: 51px
  border-radius: 0 0 5px 5px
  margin-left: 10px
  text-align: center
  color: #ffffff
  text-transform: uppercase
  font-size: 0.6em
  background: #c9ae3c
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  position: relative
  transform: perspective(1px) translateZ(0)
  -webkit-transform: perspective(1px) translateZ(0)
  top: -3px

#forms
  margin-right: -8px
  background: #3189cc

#patient-login
  display: inline-block
  padding: 0 7px
  height: 51px
  line-height: 51px
  border-radius: 0 0 5px 5px
  text-align: center
  color: #ffffff
  text-transform: uppercase
  font-size: 0.6em
  background: #3189cc
  border: #3189cc 0px solid
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  position: relative
  transform: perspective(1px) translateZ(0)
  -webkit-transform: perspective(1px) translateZ(0)
  top: -3px
  margin-left: 2px

h1.blog-title
  text-align: center
  padding-bottom: 30px  

.blog_img
  margin: 15px 0

.blog_bar_lists
  margin-bottom: 50px

.custom-repeater-blog__load
  padding-bottom: 20px
  font-weight: 700
  color: #0081c3
  cursor: pointer

#content_left .blog_excrept_content p
  margin-bottom: 15px      

  @media screen and (max-width:450px)
    width: 100%
    top: -3px
    margin-left: 0


.hd-right .appt-req::before
  content: ""
  position: absolute
  z-index: -1
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #005994
  transform: scaleY(0)
  -webkit-transform: scaleY(0)
  transform-origin: 50% 0
  -webkit-transform-origin: 50% 0
  transition-property: transform
  -webkit-transition-property: transform
  transition-duration: 0.5s
  -webkit-transition-duration: 0.5s
  transition-timing-function: ease-out
  -webkit-transition-timing-function: ease-out

.hd-right .appt-req:hover::before
  transform: scaleY(1)
  -webkit-transform: scaleY(1)
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66)
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66)

.hd-right .appt-req::before
  border-radius: 0 0 5px 5px

.hd-right ul
  display: inline-block
  line-height: 51px
  margin-left: 1px

.hd-right ul li
  list-style: none

.hd-right ul li a, .hd-right ul li button
  display: inline-block
  padding: 0 7px
  height: 51px
  line-height: 51px
  border-radius: 0 0 5px 5px
  text-align: center
  color: #ffffff
  text-transform: uppercase
  font-size: 0.6em
  background: #3189cc
  transform: perspective(1px) translateZ(0)
  -webkit-transform: perspective(1px) translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  position: relative

.hd-right ul li a::before, .hd-right ul li button::before
  content: ""
  position: absolute
  z-index: -1
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: #005994
  transform: scaleY(0)
  -webkit-transform: scaleY(0)
  transform-origin: 50% 0
  -webkit-transform-origin: 50% 0
  transition-property: transform
  -webkit-transition-property: transform
  transition-duration: 0.5s
  -webkit-transition-duration: 0.5s
  transition-timing-function: ease-out
  -webkit-transition-timing-function: ease-out
  border-radius: 0 0 5px 5px

.hd-right ul li a:hover::before, .hd-right ul li button:hover::before
  transform: scaleY(1)
  -webkit-transform: scaleY(1)
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66)
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66)

.hd-right .social-icons
  position: fixed
  right: 10px
  top: 295px
  background: #3189cc
  padding: 10px 0
  border-radius: 5px
  width: 44px

.hd-right .social-icons a
  display: block
  text-align: center
  margin: 0
  color: #ffffff
  font-size: 1em

.hd-right .social-icons a .fa
  vertical-align: 0

.innerpage_content_wrap
  border-top: 1px solid #fff
  padding: 20px 0
  position: relative

.util-nav a
  vertical-align: top

.hd-locations
  position: relative
  top: -4px
  margin-right: 6px

.hd-right .social-icons a:hover
  color: #c9ae3c
  transform: scale(1.1)
  -ms-transform: scale(1.1)
  -webkit-transform: scale(1.1)
  -moz-transform: scale(1.1)
  -o-transform: scale(1.1)

.logo_header
  float: left
  width: 28%
  padding: 6px 0 7px 9px
  max-width: 279px

.logo_header a:hover img
  transform: scale(0.9)
  -ms-transform: scale(0.9)
  -webkit-transform: scale(0.9)
  -moz-transform: scale(0.9)
  -o-transform: scale(0.9)
  transition-duration: 0.5s
  -ms-transition-duration: 0.5s
  -webkit-transition-duration: 0.5s
  -moz-transition-duration: 0.5s
  -o-transition-duration: 0.5s

.hamb_icon, .mobile-nav-manual
  display: none

.navigation
  width: 72%
  float: right
  text-align: right
  padding-top: 25px

.navigation_header > ul > li
  display: inline-block
  position: relative
  margin: 0
  padding-bottom: 25px

.navigation_header > ul > li > a
  border-radius: 5px
  color: #005994
  font-size: 0.7em
  display: inline-block
  line-height: 1.5
  padding: 10px 8px
  margin: 0
  text-decoration: none
  text-align: center
  position: relative
  transition-duration: 0.2s
  -ms-transition-duration: 0.2s
  -webkit-transition-duration: 0.2s
  -moz-transition-duration: 0.2s
  -o-transition-duration: 0.2s
  text-transform: uppercase
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0

.navigation_header .sub_menu
  left: 0
  margin: 0
  position: absolute
  display: block
  visibility: hidden
  overflow: visible
  opacity: 0
  -moz-opacity: 0
  -webkit-opacity: 0
  filter: alpha(opacity = 0)
  z-index: 10
  top: 100%

.navigation_header ul li .sub_menu
  border-radius: 0 0 5px 5px
  width: 225px
  padding: 10px 0 15px
  background: #005994

.navigation_header ul li .sub_menu li
  position: relative

.navigation_header ul li .sub_menu a
  width: auto
  text-align: left
  font-size: 0.65em
  color: #fff
  text-decoration: none
  display: block
  letter-spacing: 0
  line-height: 1.846153846153846em
  font-family: 'Raleway', sans-serif
  padding: 0px 12px
  text-transform: uppercase

.navigation_header > ul > li:hover > .sub_menu
  visibility: visible
  opacity: 1
  -moz-opacity: 1
  -webkit-opacity: 1
  filter: alpha(opacity=1)
  z-index: 20

.navigation_header ul li .sub_menu a span
  position: relative

.navigation_header > ul > li:last-child .sub_menu
  left: auto
  right: 0

.navigation_header > ul > li:last-child .sub_menu li a
  text-align: right

.navigation_header > ul > li > a.router-link-exact-active.router-link-active, .navigation_header ul li .sub_menu li a.router-link-exact-active.router-link-active, .navigation_header > ul > li:hover > a, .navigation_header ul li .sub_menu li:hover a
  color: #fff
  background: #c9ae3c

.navigation_header > ul > li
  padding-bottom: 25px

.footer_map_widget
  background-repeat: no-repeat
  background-position: top center
  height: 434px
  font-family: 'Lora', serif
  border-top: 1px solid #ffffff

.footer_map_widget .ft-location
  margin: 0 auto
  text-align: center
  background: #005994
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  max-width: 249px
  width: 100%
  height: 230px
  padding-top: 75px
  background: rgba(0, 89, 148, 0.9)
  border-radius: 0 0 10px 10px
  float: left

.footer_map_widget .ft-location .phone
  text-decoration: none
  display: block
  color: #d9bd47
  font-size: 1.3em
  line-height: 1.192307692307692em
  margin-bottom: 15px

.footer_map_widget .ft-location .ft-address
  text-decoration: none
  display: block
  color: #ffffff
  font-size: 0.9em
  line-height: 1.055555555555556em

.footer_map_widget .ft-location .map-marker
  display: inline-block
  vertical-align: middle
  transform: perspective(1px) translateZ(0)
  -webkit-transform: perspective(1px) translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  transition-duration: 0.3s
  -webkit-transition-duration: 0.3s
  transition-property: transform
  -webkit-transition-property: transform
  transition-timing-function: ease-out
  -webkit-transition-timing-function: ease-out
  position: absolute
  top: 165px
  left: 0
  right: -180px
  margin: 0 auto

.footer_map_widget .ft-location .ft-address:hover
  color: #c9ae3c

.footer_map_widget .ft-location .ft-address:hover .map-marker
  transform: translateY(-8px)
  -webkit-transform: translateY(-8px)

.footer_copyright
  font-size: 15px
  line-height: 1.5em
  color: #005994
  padding: 28px 0
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  border-top: 2px solid #ffffff

.footer_copyright a:hover
  color: #333333

.footer_copyright a
  color: #005994

.copyright_left
  float: left
  width: 50%
  padding-top: 15px

.copyright_right
  float: right
  width: 50%
  text-align: right

#back-to-top
  display: inline-block
  font-family: 'Lora', serif
  text-decoration: none
  color: #ffffff
  text-align: center
  background: #3189cc
  border-radius: 5px
  height: 44px
  line-height: 44px
  white-space: nowrap
  font-style: italic
  font-size: 15px
  padding: 0 13px

#back-to-top:hover
  background: #c9ae3c

.innerpage-top
  background-position:  top center
  height: 186px
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover

#content_left
  width: 58%
  display: block
  float: left
  padding: 20px 0 30px 0

#content_left h1
  font-size: 2.45em
  margin: 0 auto 20px
  color: #005994
  line-height: 1.2
  font-family: inherit
  letter-spacing: 0

#content_left p
  margin: 0 0 1.58em
  font-size: 20px
  line-height: 36px
  font-family: 'Raleway'
  color: #333333
  letter-spacing: 0

#content_right
  width: 32.4%
  float: right
  text-align: right
  margin: 30px 0 0 0

#content_left h2
  font-size: 1.2em
  margin: 0.2em 0 0.8em
  color: #3189cc
  line-height: 1.2
  font-family: inherit
  font-weight: 700
  letter-spacing: 0

#content_left ul
  margin: 0 0 1.8em 39px
  list-style: disc

#content_left a
  font-family: 'Lora', serif
  font-style: italic
  color: #c9ae3c

#content_left a:hover
  color: #005994

.subnav_menu
  position: relative
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  padding: 25px 54px
  background: #3189cc
  text-align: left
  width: 100%
  border-radius: 0 0 5px 5px

.subnav_menu h4
  color: #ffffff
  font-family: 'Raleway', sans-serif
  font-size: 1.05em
  margin: 0 0 20px
  font-weight: normal
  font-style: normal

.subnav_menu li a
  color: #ffffff
  text-decoration: none
  display: block
  position: relative
  text-transform: uppercase
  line-height: 1.384615384615385em
  font-size: 0.65em

.subnav_menu li a.router-link-exact-active.router-link-active, .subnav_menu li a:hover
  text-decoration: underline

.innerpage_content_wrap:before
  content: ''
  position: absolute
  top: 0
  left: 50%
  width: 100%
  height: 100%
  margin-left: 145px
  background: #fff
  background-position: left top
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover

.innerpage_content_wrap:before, .home-content_section::before
  background-image: url(https://www.goldbergortho.com/assets/images/texture.jpg)

.innerpage_content_wrap
  overflow: hidden

#content_left h3
  color: #248bb6
  font-weight: 700
  font-size: 1.1em
  margin: 0.2em 0 0.8em
  line-height: 1.2
  font-family: inherit

img
  max-width: 100%

.img-right
  float: right
  clear: right
  margin: 0 0 2.5% 2.5%

.right
  float: right

.img-left
  float: left
  margin: 0 2.5% 2.5% 0
  clear: left

hr
  color: #d4d4d4
  background-color: #d4d4d4
  border: none
  height: 1px
  clear: both
  margin: 1.58em 0

.innerpage_content_wrap.content_full:before
  display: none

.innerpage_content_wrap.content_full #content_left
  width: 100%

#content_left h4
  color: #333333
  font-weight: 700
  font-style: italic
  font-size: 1em
  margin: 0.2em 0 0.8em
  line-height: 1.2
  font-family: inherit

td
  padding: 0 10px 0 0
  text-align: left
  vertical-align: top

.office_tour_slider .swiper-button-next, .office_tour_slider .swiper-button-prev
  width: 40px
  height: 48px
  background: none

.office_tour_slider .swiper-button-next .fa, .office_tour_slider .swiper-button-prev .fa
  font-size: 45px
  color: #c9ae3c

.before-after-box
  width: 48%
  float: left

.before-after-text
  width: 50%
  float: right

.before-after-image
  width: 50%
  float: left
  text-align: center
  padding-right: 20px
  margin-bottom: 25px

.common_ortho_list:last-child hr
  display: none

legend
  font-size: 1.4285714285714em
  font-weight: 700
  display: block
  width: 100%
  padding: 5px 0

.form-contact__group label
  font-size: 20px
  line-height: 20px
  color: #272218
  margin-top: 5px
  display: block

.form-contact__group input, .form-contact__group select, .form-contact__group textarea
  margin-top: 5px
  color: #333
  background-color: #fff
  font-size: 16px
  padding: 2px 10px
  border-radius: 0
  border: 1px solid #ccc
  transition: box-shadow .3s ease
  width: 100%

.form-contact__group
  margin-bottom: 25px

.form-contact__error-message
  color: #ff542f
  font-size: 14px

.form-contact__group textarea
  min-height: 150px

.form-contact__submit-label
  background: #c9ae3c
  color: #fff
  font-size: 0.9285714285714286em
  line-height: 1.9
  padding: 12px 30px
  text-transform: uppercase
  cursor: pointer
  display: inline-block
  width: auto
  text-align: center
  margin-top: 20px
  font-weight: 500
  position: relative
  font-family: 'Raleway'
  transition-duration: 0.5s
  -ms-transition-duration: 0.5s
  -webkit-transition-duration: 0.5s
  -moz-transition-duration: 0.5s
  -o-transition-duration: 0.5s


.form-contact__submit-label:hover
  color: #fff
  background-color: #7d6b22

.sub_names_form
  display: block
  font-style: italic
  font-size: 18px
  line-height: 15px
  margin-top: 7px

.appoint_form
  max-width: 510px

.form-contact__group.radioo_box input
  width: auto
  margin-right: 5px

.form-contact__group.radioo_box .radioclear
  margin: 18px 0 18px 8px

legend.drop
  margin-top: 20px

.form-contact__group select
  padding: 6px 10px

.rating_star_left
  display: block
  float: left

.rating_star_right
  display: block
  text-align: right
  float: right

.rating_star_left .fa
  margin-right: 5px
  font-size: 18px

.rating_star_left .fa-star::before, .ratingstar .fa-star::before
  color: #FFBF00

.rating_star_right
  font-family: Georgia, serif
  font-size: 16px
  color: #4f4f4f

.testomonial_list .rating_desc
  border-radius: 12px
  -moz-border-radius: 12px
  -webkit-border-radius: 12px
  box-shadow: 2px 2px 15px #ccc
  -moz-box-shadow: 2px 2px 15px #ccc
  -webkit-box-shadow: 2px 2px 15px #ccc
  background-color: transparent
  color: #4f4f4f
  display: block
  font-family: Georgia, serif
  font-size: 16px
  line-height: 1.2
  margin: 0 0 14px
  padding: 15px 20px 15px 50px
  position: relative
  text-align: justify
  word-wrap: break-word

.rating_desc:before
  content: "\f10d"
  font-family: FontAwesome
  font-size: 30px
  position: absolute
  left: 10px

#content_left .rating_desc p
  color: #4f4f4f
  font-family: Georgia, serif
  font-size: 16px
  line-height: 1.2
  text-align: justify
  word-wrap: break-word
  margin: 0

.testomonial_list
  border-bottom: 1px dotted #ddd
  padding-bottom: 30px

.testimonial_after
  text-align: center
  padding: 40px 0 30px

.ratingstar .fa
  padding: 0 4px
  font-size: 32px
  margin-bottom: 20px

.testimonial_after, #content_left .testimonial_after p
  color: #4f4f4f
  font-family: Georgia, serif
  font-size: 16px
  line-height: 1.2

.testimonial_after .nr4ToolTip
  border-bottom: 1px dotted black
  display: inline-block
  margin-top: 25px
  position: relative

.testimonial_after .nr4ToolTip .nr4ToolTipText
  background-color: #707070
  border-radius: 6px
  box-shadow: 5px 5px 5px #888888
  color: #fff
  height: 0px
  opacity: 0
  overflow-y: auto
  padding: 10px
  position: absolute
  right: 0
  text-align: left
  transition: opacity 1s
  visibility: hidden
  width: 0px
  z-index: 1

.testimonial_after .nr4ToolTip:hover .nr4ToolTipText
  height: 415px
  left: 50%
  margin-left: -200px
  opacity: 1
  visibility: visible
  width: 420px
  font-family: Georgia, serif
  font-size: 16px
  font-style: normal

.nr4ToolTipText ol
  list-style: lower-roman
  margin-left: 26px

.nr4ToolTipText ol li
  margin-bottom: 8px

#content_left .testimonial_after .nr4ToolTipText p
  color: #fff

p:empty
  margin: 0 !important

.ratingheading
  margin-bottom: 15px

.ratinglist2:last-child hr
  display: none

.pages-home .innerpage_content_wrap::before
  display: none

.client_logo_section
  text-align: center
  width: 100%
  position: relative
  background: #ffffff
  padding: 104px 0 62px

.client_logo_section a
  display: inline-block
  margin: 0 20px

.client_logo_section a img
  transition-duration: 0.5s
  -ms-transition-duration: 0.5s
  -webkit-transition-duration: 0.5s
  -moz-transition-duration: 0.5s
  -o-transition-duration: 0.5s

.client_logo_section a:nth-child(1)
  position: relative
  margin-left: 0
  margin-right: 60px

.client_logo_section a:last-child
  margin-right: 0px

.client_logo_section a:nth-child(1)::after
  content: ''
  background: #005994
  width: 1px
  display: block
  position: absolute
  top: -37px
  height: 172px
  right: -50px

.client_logo_section a:hover img
  transform: scale(0.9)
  -ms-transform: scale(0.9)
  -webkit-transform: scale(0.9)
  -moz-transform: scale(0.9)
  -o-transform: scale(0.9)

.callouts_section
  text-align: center
  width: 100%
  position: relative
  background-position: top center
  padding: 34px 0

.callouts_section a
  display: inline-block
  position: relative
  vertical-align: top
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  max-width: 226px
  width: 100%
  height: 226px
  border-radius: 10px
  margin: 10px 12px
  background: #005994
  color: #ffffff
  text-align: center
  padding-top: 50px
  transform: perspective(1px) translateZ(0)
  -webkit-transform: perspective(1px) translateZ(0)
  box-shadow: 0 0 1px transparent
  transition-property: color
  -webkit-transition-property: color
  transition-duration: 0.3s
  -webkit-transition-duration: 0.3s

.callouts_section a:nth-child(1)
  margin-left: 0

.callouts_section a:last-child
  margin-right: 0

.callouts_section a::before
  content: ""
  position: absolute
  z-index: -1
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: #c9ae3c
  border-radius: 10px
  transform: scaleY(0)
  -webkit-transform: scaleY(0)
  -webkit-transform-origin: 50%
  transform-origin: 50%
  -webkit-transition-property: transform
  transition-property: transform
  transition-duration: 0.3s
  -webkit-transition-duration: 0.3s
  transition-timing-function: ease-out
  -webkit-transition-timing-function: ease-out

.callouts_section a .fa
  font-size: 3.398em
  margin-bottom: 18px
  transition-duration: 0.3s
  -webkit-transition-duration: 0.3s
  transition-timing-function: ease-in-out
  -ms-transition-timing-function: ease-in-out
  -webkit-transition-timing-function: ease-in-out
  -moz-transition-timing-function: ease-in-out
  -o-transition-timing-function: ease-in-out

.callouts_section .co-text
  color: #d8bd49
  font-family: 'Lora', serif
  font-style: italic
  font-size: 1.2495em
  line-height: 1.120048019207683em

.callouts_section .co-text span
  font-family: 'Raleway', serif
  display: block
  color: #ffffff
  font-style: normal
  text-transform: uppercase

.callouts_section a:hover::before
  transform: scaleY(1)
  -webkit-transform: scaleY(1)

.callouts_section a:hover .co-text
  color: #ffffff

.services_section
  text-align: center
  width: 100%
  background-size: cover
  padding: 80px 0
  height: 100%
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat

.services_section .callout
  width: 58.6%
  max-width: 100%
  float: left

.services_section .callout:nth-child(2), .services_section .callout:nth-child(3)
  width: 41.3% !important
  text-align: right

.services_section .callout:nth-child(1)
  font-size: 1.9em

.services_section .callout a
  font-family: 'Lora', serif
  line-height: 1.25em
  padding: 0
  color: #fff
  position: relative
  transition: 0.37s ease-in-out
  -webkit-transition: 0.37s ease-in-out
  -o-transition: 0.37s ease-in-out
  -moz-transition: 0.37s ease-in-out
  margin: 0 auto
  display: block
  background: #222
  text-align: left

.services_section .callout .photo
  transition: 0.37s ease-in-out
  -webkit-transition: 0.37s ease-in-out
  -o-transition: 0.37s ease-in-out
  -moz-transition: 0.37s ease-in-out

.services_section .callout .main
  position: absolute
  left: 5%
  bottom: 20px
  width: 80%

.services_section a:hover
  color: #c9ae3c

.services_section a:hover .photo
  opacity: .7

.home-content_section
  padding: 20px 0
  position: relative

.home-content_section::before
  content: ''
  background-position: left top
  background-size: cover
  position: absolute
  top: 0
  right: 50%
  width: 100%
  height: 100%
  margin-right: 150px

.home-content_left
  float: left
  width: 33.5%
  margin-top: 80px

.home-content_right
  float: right
  width: 62.5%
  margin-top: 85px
  margin-bottom: 70px

.home-content_left h1
  text-align: right
  font-family: 'Lora', serif
  line-height: 1.020408163265306em
  font-size: 2.45em
  margin-bottom: 20px
  color: #005994

.home-content_left h1 span:nth-child(1)
  display: block
  font-family: 'Raleway', sans-serif
  font-size: 0.673469387755102em

.home-content_left h1 span:nth-child(2)
  display: block
  text-transform: uppercase
  font-size: 1.163265306122449em

.testimonials-home
  background: rgba(250, 250, 250, 0.5)
  padding: 12px
  border-radius: 10px
  margin-bottom: 15px

.testimonials-home h2
  color: #c9ae3c
  font-weight: 700
  font-size: 1.1em
  margin: 0.2em 0 0.8em
  font-family: inherit

.testimonials-home .fa
  margin-right: 5px
  font-size: 18px

.testimonials-home .fa-star::before
  color: #FFBF00

.home_rate_list_content p, .home_rate_meta
  color: #065994
  font-family: Book Antiqua
  font-size: 16px
  font-style: normal
  line-height: 1.2

.home_rate_meta
  margin-top: 10px

.home-content_right h2
  color: #3189cc
  font-weight: 700
  font-size: 1.2em
  margin: 0.2em 0 0.8em
  font-family: inherit
  line-height: 1.2

.home-content_right p
  color: #333333
  font-weight: normal
  font-size: 20px
  margin: 0 0 1.58em
  font-family: inherit
  line-height: 36px

.home-content_right p a
  font-family: 'Lora', serif
  font-style: italic
  color: #c9ae3c

.home-content_right p a:hover
  color: #005994

.testimonials-home .swiper-slide.swiper-slide-active, .testimonials-home .swiper-slide.swiper-slide-duplicate-active
  opacity: 1 !important

.testimonials-home .swiper-slide
  opacity: 0 !important

.homepage_slider
  margin-top: 121px
  position: relative

.slider-home .swiper-button-next, .slider-home .swiper-button-prev
  width: 40px
  height: 48px
  background: none !important

.slider-home .swiper-button-next .fa, .slider-home .swiper-button-prev .fa
  font-size: 45px
  color: #fff

.homepage_slider img
  width: 100%

.home_slider_outerr
  position: absolute
  bottom: 100px
  max-width: 560px

.home_slider_outerr .home_slider_heading
  font-size: 1.666666666666667em
  margin-bottom: 15px
  height: 64px
  line-height: 64px
  display: block
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  text-align: left
  background: rgba(0, 89, 148, 0.9)
  padding-left: 10px
  font-family: 'Lora', serif
  color: #ffffff

.home_slider_outerr .home_slider_content
  padding: 10px 0 10px 10px
  font-size: 1.3em
  line-height: 1.076923076923077em
  margin-bottom: 15px
  display: block
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  text-align: left
  background: rgba(0, 89, 148, 0.9)
  font-family: 'Lora', serif
  color: #ffffff

.slider-home .swiper-pagination
  bottom: 110px !important
  max-width: 1000px
  margin: 0px auto
  position: absolute
  left: 0
  right: 0
  text-align: right

.slider-home .swiper-pagination-bullet
  width: 15px
  height: 15px
  opacity: 1
  background: #005994

.slider-home .swiper-pagination-bullet.swiper-pagination-bullet-active
  background: #fff

.slider-home .swiper-button-prev
  left: 8%

.slider-home .swiper-button-next
  right: 8%

.slider-after-heading
  font-family: 'Lora', serif
  font-size: 2.25em
  text-align: center
  background: rgba(49, 137, 204, 0.7)
  color: #ffffff
  line-height: 100px
  position: absolute
  bottom: 0
  z-index: 10
  width: 100%

.patient_testimonials
  padding: 80px 0 90px
  text-align: center
  width: 100%
  position: relative
  background-position: top center
  border-top: 1px solid #ffffff

.patient_testimonials h2
  color: #ffffff
  font-size: 2.45em
  font-weight: normal
  font-family: 'Lora', serif
  text-transform: lowercase
  margin: 0 0 20px
  margin-bottom: 65px

.patient_testimonials h2 span
  text-transform: uppercase
  color: #d3b94d

.patient_testimonials .swiper-slide .slide_test_inner
  background: #fff
  padding: 50px 50px
  border-radius: 10px
  margin: 0 50px
  position: relative
  cursor: initial

.testimonial-slide-home
  max-width: 100%
  margin: 0px auto

.testimonial-slide-home .swiper-button-next .fa, .testimonial-slide-home .swiper-button-prev .fa
  font-size: 45px
  color: #c9ae3c

.testimonial-slide-home .swiper-button-next, .testimonial-slide-home .swiper-button-prev
  width: 40px
  height: 48px
  background: none

.testimonial-slide-home .swiper-container
  max-width: 100%
  margin: 0px auto

.testimonial-slide-home .swiper-slide p.testi_content
  font-family: 'Sriracha', cursive
  color: #333333
  font-size: 0.8em
  line-height: 1.25em
  margin-bottom: 0
  min-height: 110px
  cursor: pointer

.testimonial-slide-home .swiper-slide p.authorr
  display: block
  color: #3189cc
  font-size: 0.8em
  line-height: 1.25em
  font-family: Raleway
  margin-top: 5px
  cursor: pointer

.patient_testimonials .swiper-slide::before
  content: ''
  background: url(https://www.goldbergortho.com/assets/images/bubble-bottom.png) top center no-repeat
  width: 56px
  height: 28px
  position: absolute
  bottom: 0px
  right: 80px

.patient_testimonials .swiper-slide
  position: relative
  padding: 0 0 28px 0

.patient_testimonials .swiper-button-prev,
  left: 0

.patient_testimonials .swiper-button-next
  right: 0

.slider-home .swiper-button-white .fa:hover
  transform: scale(1.44)
  -ms-transform: scale(1.44)
  -webkit-transform: scale(1.44)
  -moz-transform: scale(1.44)
  -o-transform: scale(1.44)
  transition-duration: 0.35s
  -ms-transition-duration: 0.35s
  -webkit-transition-duration: 0.35s
  -moz-transition-duration: 0.35s
  -o-transition-duration: 0.35s
  transition-timing-function: ease-in-out
  -ms-transition-timing-function: ease-in-out
  -webkit-transition-timing-function: ease-in-out
  -moz-transition-timing-function: ease-in-out
  -o-transition-timing-function: ease-in-out
  color: #005994

.testimonial-slide-home .swiper-button-next, .testimonial-slide-home .swiper-button-prev
  top: 45%

.testimonial-slide-home .swiper-button-next .fa:hover, .testimonial-slide-home .swiper-button-prev .fa:hover
  transform: scale(0.88)
  -ms-transform: scale(0.88)
  -webkit-transform: scale(0.88)
  -moz-transform: scale(0.88)
  -o-transform: scale(0.88)
  color: #fff
  transition-duration: 0.35s
  -ms-transition-duration: 0.35s
  -webkit-transition-duration: 0.35s
  -moz-transition-duration: 0.35s
  -o-transition-duration: 0.35s
  transition-timing-function: ease-in-out
  -ms-transition-timing-function: ease-in-out
  -webkit-transition-timing-function: ease-in-out
  -moz-transition-timing-function: ease-in-out
  -o-transition-timing-function: ease-in-out

.testimonial-slide-home .swiper-slide:hover
  transform: scale(0.88)
  -ms-transform: scale(0.88)
  -webkit-transform: scale(0.88)
  -moz-transform: scale(0.88)
  -o-transform: scale(0.88)
  transition-duration: 0.35s
  -ms-transition-duration: 0.35s
  -webkit-transition-duration: 0.35s
  -moz-transition-duration: 0.35s
  -o-transition-duration: 0.35s
  transition-timing-function: ease-in-out
  -ms-transition-timing-function: ease-in-out
  -webkit-transition-timing-function: ease-in-out
  -moz-transition-timing-function: ease-in-out
  -o-transition-timing-function: ease-in-out

.techno_left
  float: left
  width: 65% 

.techno_list:nth-child(even) .techno_left
  float: right

.techno_list:nth-child(even) .techno_right
  float: left
  padding-left: 0
  padding-right: 45px

.techno_right
  float: right
  width: 35%
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  padding-left: 45px

h4.techno_title
  color: #005994
  font-size: 32px
  font-weight: 500
  padding-bottom: 0
  margin-bottom: 0

.techno_right img
  border: 2px solid #005994 

.new_technologies
  background: #f2f0f6 
  position: relative
  padding: 60px 0 40px

.techno_left h5
  color: #248bb6
  font-weight: 500
  font-size: 23px

.techno_list
  border-bottom: 1px solid #7c888f
  padding-bottom: 45px
  padding-top: 45px

.techno_list:last-child() 
  border-bottom: none

.apartpage .innerpage_content_wrap
  padding-bottom: 0

.techintro p 
  font-weight: 400
  font-size: 18px
  font-family: 'Raleway' 
  line-height: 33px

.smilechoice-page .innerpage-top
  height: calc(100vh - 9rem)
  margin-top: 9rem
  position: relative

.innerpage__overlay
  position: absolute
  top: 0
  left: 0
  background: rgba(6,21,128,.25)
  width: 100%
  height: 100%

.smilechoice-page .innerpage-top h1  
  margin-top: 80px
  position: absolute
  top: 65%
  text-align: center
  width: 100%
  color: #fff
  font-weight: 600

.wondering
  background-color: #ccc
  padding: 2rem 0 3rem

.wo-outer
  display: flex
  position: relative
  flex-wrap: wrap
  margin: 0 auto
  width: 100%

.wo-left
  padding: 0 calc(24px / 2)
  width: calc((5 / 12) * 100% - 0.1px)
  position: relative

.wo-right
  padding: 0 calc(24px / 2)
  width: calc((7 / 12) * 100% - 0.1px)
  display: flex
  flex-direction: column
  justify-content: center

.wo-right h2
  color: #3189cc
  font-weight: 700
  font-size: 1.2em
  margin: 0.2em 0 0.8em
  font-family: inherit
  line-height: 1.2

.wo-right p
  color: #3189cc
  font-weight: 400
  font-size: 18px
  margin: 0 0 1.58em
  font-family: inherit
  line-height: 29px

.threebox-outer
  display: flex
  flex-direction: row
  flex-wrap: nowrap

.innerboxes-blue-text
  margin: 0 2rem 1rem
  color: #3189cc
  font-size: 1rem
  font-weight: 600

.wondering1
  padding-top: 2rem

.innerboxes-price
  margin: 0 0 1rem
  color: #070707
  font-size: 1.5rem
  font-weight: 600    

.innerboxes
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  margin: 0 1rem
  border: 2px #79858f solid
  border-radius: 50px
  box-shadow: 10px 10px #929fa9
  background-color: #fff
  padding: 2rem 1rem
  width: 33%
  text-align: center 

.innerboxes-flex
  display: flex
  flex-direction: column
  justify-content: flex-end

.innerboxes-flex img
  padding: 1rem
  width: 100%
  height: auto

.innerboxes-level
  margin-bottom: 1rem
  text-transform: uppercase
  color: #c9ae3c
  font-size: 1.5rem
  font-weight: 600

.innerboxes-card-title
  margin-bottom: 1rem
  color: #3189cc
  font-size: 25px
  font-weight: 600

.innerboxes-card-text
  margin-bottom: 1rem
  padding: 0
  color: #505874
  font-size: 17px
  line-height: 28px

.innerboxes-tagline
  margin: 0 5px 1rem
  color: #070707
  font-size: 1.5rem
  font-weight: 600
  line-height: 30px

.custom-smilechoice-cards__card-link
  margin: 0 0 1rem
  color: #c9ae3c
  font-size: 1.25rem
  font-weight: 600  

.custom-smilechoice-cards__card-link:hover
  color: #7e6e28 

.interest 
  text-align: center
  padding: 30px 0
  background-color: #ccc

.interest_title
  font-size: 15px

.interest_btn a
  background: #3189cc
  color: #fff
  padding: 1rem 2rem
  display: inline-block
  border-radius: 5rem
  font-size: 20px
  font-weight: 600
  margin: 2rem 0

.interest_btn a:hover
  color: #3189cc
  background: #fff 

.wondering.new_interest
  text-align: center
  padding-top: 0 

.interest-body a
  display: inline-block
  transition: background 0.25s ease-in, color 0.25s ease-in
  margin: 1rem 0 2rem
  border-radius: 5rem
  background: #3189cc
  padding: 10px 2rem
  text-transform: uppercase
  color: #3189cc
  font-weight: 600
  font-family: Arial, helvetica, sans-serif
  font-size: 20px
  background: #c9ae3c

.interest-body a:hover
  background: #C9983C
  color: #fff  

.interest-body a:first-of-type
  margin: 2rem 0

.new_interest p
  font-size: 18px
  font-family: arial   

.smilesnapcontent .smilesnap-widget
  width: 100%
  height: 890px 

.testimonials-home-outer
  height: 100%
  padding-top: 60%
  position: relative
  width: 100%

.testimonials-home-outer iframe
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0 
  border: none
  overflow:hidden

.testomonial_list_outer
  height: 3810px
  padding-top: 100%
  position: relative
  width: 100%

.testomonial_list_outer iframe
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0 
  border: none                                

@media (min-width: 1025px) and (max-width: 1300px)
    .slider-home .swiper-button-prev
      left: 6%

    .slider-home .swiper-button-next
      right: 6%

    .slider-home .swiper-button-next, .slider-home .swiper-button-prev
      width: 40px
      height: 40px

    .home_slider_outerr
      bottom: 100px
      max-width: 630px
      padding-left: 100px

    .home_slider_outerr .home_slider_heading, .home_slider_content
      font-size: 25px
      line-height: 30px
      height: auto
      padding: 20px 15px

    .slider-home .swiper-pagination
      padding-right: 50px

    .slider-after-heading
      line-height: 70px
      font-size: 37px


@media (min-width: 768px) and (max-width: 1024px)
    .container_manual
      padding: 0 15px

    #content_left
      width: 64%

    .threebox-outer
      display: inline-block
      text-align: center

    .innerboxes
      display: inline-block
      width: 44% 
      margin-bottom: 35px
      vertical-align: top   

    .smilechoice-page .innerpage-top
      margin-top: 0
      display: block
      height: 50vh

    .smilechoice-page .innerpage-top h1
      margin-top: 0
      font-size: 25px      

    .header
      position: relative
      display: flex
      flex-direction: column

    .top_bar
      order: 2
      height: auto

    .top_bar .container_manual
      padding: 0

    .hd-right
      width: 100%
      text-align: center

    .header_menu
      order: 1

    .footer_map_widget
      height: auto
      padding-bottom: 50px
      text-align: center

    .footer_map_widget .ft-location .map-marker
      display: none

    .footer_map_widget .ft-location
      float: none

    .innerpage_content_wrap::before
      display: none

    .innerpage-top
      display: none

    .main_menu
      display: none

    .logo_header
      float: none
      width: 100%
      text-align: center
      display: block
      margin: 0px auto
      padding-top: 40px
      padding-bottom: 10px

    .navigation
      padding: 0

    .hd-locations
      top: 0
      margin-right: 0

    .hd-locations, .util-nav
      display: block

    .hd-right .appt-req
      display: block
      padding: 0 4px
      height: auto
      line-height: 35px
      border-radius: 0
      margin-left: 0
      text-align: center
      position: relative

    .hd-right ul
      display: block
      line-height: 35px
      margin-left: 0

    .hd-right ul li a, .hd-right ul li button
      display: block
      padding: 0 4px
      height: auto
      line-height: 35px
      border-radius: 0

    .hd-right .social-icons
      right: auto
      top: auto
      background: #005994
      padding: 10px 0
      border-radius: 0
      width: 100%
      position: relative

    .hd-right .social-icons a
      display: inline-block
      text-align: center
      margin: 0 10px

    nav.navigation #mobileSideNav, nav.navigation .hamb_icon
      display: block

    .main_menu
      display: none

    nav.navigation .hamb_icon
      position: fixed
      left: 0
      top: 0
      z-index: 999
      width: 100%
      background: #c9ae3c
      padding-left: 10px
      padding-top: 5px
      padding-bottom: 5px

    nav.navigation .hamb_icon .fa-bars
      color: #fff
      cursor: pointer
      display: block
      font-size: 22px
      width: 5%
      z-index: 15

    .mobile-nav-manual
      display: block

    nav.navigation .mobile_menu
      height: 100%
      width: 0
      position: fixed
      top: 0
      left: 0
      background-color: #c9ae3c
      overflow-x: hidden
      transition: .5s
      padding-top: 40px
      z-index: 9999

    nav.navigation .mobile_menu .closebtn
      position: absolute
      top: 0px
      right: 10px
      font-size: 24px
      margin-left: 30px
      color: #fff

    nav.navigation .mobile_menu ul
      margin: 0
      padding: 0
      display: block
      width: 100%
      margin-top: 0px

    nav.navigation .mobile_menu ul li
      display: block
      width: 100%
      position: relative
      text-align: left

    nav.navigation .mobile_menu ul li a, nav.navigation .mobile_menu ul li span.header-nav-item
      padding: 8px 10px
      text-decoration: none
      font-size: 15px
      color: #fff
      display: block
      transition: .3s
      font-weight: 400
      border-bottom: 1px solid #fff

    nav.navigation .mobile_menu ul li a, nav.navigation .mobile_menu ul li span.header-nav-item
      font-size: 15px
      color: #fff
      font-weight: 400

    nav.navigation .subMenu_open
      position: absolute
      right: 20px
      top: 7px
      cursor: pointer
      color: #fff

    nav.navigation .subMenu_open.active .fa-plus::before
      content: "\F068"

    .hd-right .appt-req::before
      background: #997e0c

    .hd-right ul li a::before, .hd-right ul li button::before
      background: #002964

    .client_logo_section a:nth-child(1)::after
      display: none

    .client_logo_section a
      margin: 0 20px !important

    .client_logo_section
      padding: 54px 0 22px

    .home-content_left
      width: 100%
      margin-top: 30px

    .home-content_left h1
      font-size: 30px
      line-height: 32px
      text-align: center 

    .testimonials-home h2
      font-size: 21px

    .testimonials-home
      max-width: 450px
      margin: 0px auto  

    .home-content_right
      width: 100%
      margin-top: 25px
      margin-bottom: 30px

    .callouts_section a
      max-width: 165px

    .callouts_section .co-text
      font-size: 19px

    .homepage_slider
      margin-top: 0

    .pages-home .innerpage_content_wrap
      padding-top: 0

    .slider-after-heading
      font-size: 30px
      line-height: 35px
      padding: 10px 0

    .home_slider_outerr
      bottom: 50px
      max-width: 480px
      padding-left: 90px

    .home_slider_outerr .home_slider_heading, .home_slider_outerr .home_slider_content
      height: auto
      font-size: 18px
      line-height: 22px
      padding: 10px 10px !important

    .slider-home .swiper-pagination
      display: none

    .slider-home .swiper-button-prev
      left: 10px

    .slider-home .swiper-button-next
      right: 10px

    .slider-home .swiper-button-next, .slider-home .swiper-button-prev
      width: 40px
      height: 40px

@media only screen and (max-width: 767px)
    .container_manual
      padding: 0 15px

    .testimonials-home
      max-width: 450px
      margin: 0px auto  

    .smilechoice-page .innerpage-top
      margin-top: 0
      display: block
      height: 50vh

    .smilechoice-page .innerpage-top h1
      margin-top: 0
      font-size: 25px

    .wo-left
      width: 100%
      max-width: 250px
      margin: 0px auto

    .wondering
      padding-bottom: 0

    .threebox-outer
      display: block

    .interest_btn a, .interest-body a
      font-size: 17px
      line-height: 25px

    .interest, .wondering.new_interest
      padding-left: 15px
      padding-right: 15px    

    .innerboxes
      display: block
      margin: 0
      width: 100%
      max-width: 290px
      margin: 40px auto      

    .wo-right
      width: 100%
      text-align: center
      padding-top: 24px 

    .smilechoice-page .content_part
      background-color: #ccc     

    .techno_left 
      width: 100%

    .techno_right
      width: 100%
      padding-left: 0
      margin-top: 25px 

    .techno_right img
      max-width: 260px
      margin: 0px auto

    .techno_list:nth-child(2n) .techno_right
      padding-right: 0

    .new_technologies
      margin-top: 40px        

    #content_left h1.blogsingletitle
      font-size: 26px 
      font-weight: 500 

    .copyright_left
      width: 100%
      text-align: center
      padding-bottom: 20px

    .copyright_right
      width: 100%
      text-align: center

    .header
      position: relative
      display: flex
      flex-direction: column

    .top_bar
      order: 2
      height: auto

    .top_bar .container_manual
      padding: 0

    .hd-right
      width: 100%
      text-align: center

    .header_menu
      order: 1

    .footer_map_widget
      height: auto
      padding-bottom: 50px
      text-align: center

    .footer_map_widget .ft-location .map-marker
      display: none

    .footer_map_widget .ft-location
      float: none

    #content_right
      width: 100%
      text-align: center

    .hide-stock img
      margin: 0px auto

    .subnav_menu
      max-width: 325px
      margin: 0px auto

    .innerpage_content_wrap::before
      display: none

    #content_left
      width: 100%
      padding: 20px 0 0px 0

    #content_left h1
      font-size: 35px

    .innerpage-top
      display: none

    .main_menu
      display: none

    .logo_header
      float: none
      width: 100%
      text-align: center
      display: block
      margin: 0px auto
      padding-top: 40px
      padding-bottom: 10px

    .navigation
      padding: 0

    .hd-locations
      top: 0
      margin-right: 0

    .hd-locations, .util-nav
      display: block

    .hd-right .appt-req
      display: block
      padding: 0 4px
      height: auto
      line-height: 35px
      border-radius: 0
      margin-left: 0
      text-align: center
      position: relative

    #forms
      margin-right: 0

    .hd-right ul
      display: block
      line-height: 35px
      margin-left: 0

    .hd-right ul li a, .hd-right ul li button
      display: block
      padding: 0 4px
      height: auto
      line-height: 35px
      border-radius: 0

    .hd-right .social-icons
      right: auto
      top: auto
      background: #005994
      padding: 10px 0
      border-radius: 0
      width: 100%
      position: relative

    .hd-right .social-icons a
      display: inline-block
      text-align: center
      margin: 0 10px

    nav.navigation #mobileSideNav, nav.navigation .hamb_icon
      display: block

    .main_menu
      display: none

    nav.navigation .hamb_icon
      position: fixed
      left: 0
      top: 0
      z-index: 999
      width: 100%
      background: #c9ae3c
      padding-left: 10px
      padding-top: 5px
      padding-bottom: 5px

    nav.navigation .hamb_icon .fa-bars
      color: #fff
      cursor: pointer
      display: block
      font-size: 22px
      width: 5%
      z-index: 15

    .mobile-nav-manual
      display: block

    nav.navigation .mobile_menu
      height: 100%
      width: 0
      position: fixed
      top: 0
      left: 0
      background-color: #c9ae3c
      overflow-x: hidden
      transition: .5s
      padding-top: 40px
      z-index: 9999

    nav.navigation .mobile_menu .closebtn
      position: absolute
      top: 0px
      right: 10px
      font-size: 24px
      margin-left: 30px
      color: #fff

    nav.navigation .mobile_menu ul
      margin: 0
      padding: 0
      display: block
      width: 100%
      margin-top: 0px

    nav.navigation .mobile_menu ul li
      display: block
      width: 100%
      position: relative
      text-align: left

    nav.navigation .mobile_menu ul li a, nav.navigation .mobile_menu ul li span.header-nav-item
      padding: 8px 10px
      text-decoration: none
      font-size: 15px
      color: #fff
      display: block
      transition: .3s
      font-weight: 400
      border-bottom: 1px solid #fff

    nav.navigation .mobile_menu ul li a, nav.navigation .mobile_menu ul li span.header-nav-item
      font-size: 15px
      color: #fff
      font-weight: 400

    nav.navigation .subMenu_open
      position: absolute
      right: 20px
      top: 7px
      cursor: pointer
      color: #fff

    nav.navigation .subMenu_open.active .fa-plus::before
      content: "\F068"

    .img-right, .img-left, .right, .content_all img
      float: none
      margin: 10px auto
      display: block

    .before-after-box, .before-after-text
      width: 100%

    .content_all iframe
      width: 100%

    .hd-right .appt-req::before
      background: #997e0c

    .hd-right ul li a::before, .hd-right ul li button::before
      background: #002964

    .rating_star_right
      text-align: left
      float: left

    .client_logo_section a:nth-child(1)::after
      display: none

    .client_logo_section a:nth-child(1)
      margin: 0 20px

    .client_logo_section
      padding: 34px 0px 10px

    .patient_testimonials
      padding: 40px 0 60px

    .home-content_section::before
      display: none

    .home-content_left
      float: left
      width: 100%
      margin-top: 20px

    .home-content_left h1
      font-size: 40px
      line-height: 40px
      text-align: left

    .home-content_right
      width: 100%
      margin-top: 20px
      margin-bottom: 20px

    .services_section
      padding: 0

    .services_section .container_manual
      padding: 0

    .services_section .callout, .services_section .callout:nth-child(2), .services_section .callout:nth-child(3)
      float: none
      display: inline-block
      width: 100% !important
      vertical-align: top
      max-width: 413px

    .homepage_slider
      margin-top: 0

    .pages-home .innerpage_content_wrap
      padding-top: 0

    .home_slider_outerr
      display: none

    .slider-home .swiper-pagination
      display: none

    .slider-after-heading
      font-size: 20px
      line-height: 25px
      padding: 10px 0

    .slider-home .swiper-button-next .fa, .slider-home .swiper-button-prev .fa
      font-size: 26px

    .slider-home .swiper-button-next, .slider-home .swiper-button-prev
      height: 25px
      width: 25px

    .slider-home .swiper-button-next
      right: 10px

    .slider-home .swiper-button-prev
      left: 10px

    .callouts_section a
      margin: 10px 12px !important

#smilesnap-expanded-container
  width: 95%
  height: 600px

.smilesnapcontent
  max-width: 98% !important
  width: 98% !important

@media screen and (max-width:450px)
  #smilesnap-expanded-container
    width: 100%
  .smilesnapcontent
    width: 100%
    max-width: 100%
  #smilesnappp
    padding-left: 0
    padding-right: 0
  #smilesnap-title
    padding-left: 25px

.block-covid-banner
  position: relative
  top: 0
  width: 100%
  background-color: red
  @media screen and (max-width:450px)
    top: 32px

  &__container
    text-align: center
    color: white
